
<% layout("/layouts/boilerplate") %>
<body>

  <div class="cardComponent">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 ">
      <% for(let listing of allListing) { %>

      <div class="listing-card ms-3 mt-4" style="width: 18rem;height: 23rem; ">
        <div class="img-container">
             <img
          src="<%= listing.image.url %>"
          class="card-img-top "
          alt="..."
        />
        </div>
        <div class="card-body">
          <p class="card-text">
               <b><%= listing.title %></b>
               <br>
              &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
          </p>
          <a href="/listings/<%= listing._id %>" class="btn btn-primary mt-2 ">View Details</a>
        
        </div>
      </div>

      <% } %>
    </div>
  </div>
  <br><br>
</body>
