<% layout("/layouts/boilerplate") %>
<body>
  <h1>Create New Listing</h1>
  <div class="row">
    <div class="col-8">
      <form
        action="/listings"
        method="post"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            class="form-control"
            type="text"
            name=""
            placeholder="Add a Title"
            required
          />
          <div class="invalid-feedback">Please Enter Title</div>
          <div class="valid-feedback">looks good!</div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="">Description</label>
          <textarea
            class="form-control"
            name="listing[description]"
            id=""
            placeholder="description"
            required
          ></textarea>
          <div class="invalid-feedback">Please Enter Description</div>
           <div class="valid-feedback">looks good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="filename">Image Filename</label>
          <input
            class="form-control"
            type="text"
            name="listing[image][url]"
            placeholder="filename"
            required
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label class="form-label" for="">Price</label>
            <input
              class="form-control"
              type="text"
              name="listing[price]"
              placeholder="price"
              required
            />
            <div class="invalid-feedback">Please Enter Price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label class="form-label" for="">Country</label>
            <input
              class="form-control"
              type="text"
              name="listing[country]"
              placeholder="India"
              required
            />
            <div class="invalid-feedback">should provide country</div>
             <div class="valid-feedback">looks good!</div>
          </div>
        </div>
        <div>
          <label class="form-label" for="">location</label>
          <input
            class="form-control"
            type="text"
            name="listing[location]"
            placeholder="Maharashta,Goa"
            required
          />
            <div class="invalid-feedback">should provide location</div>
             <div class="valid-feedback">looks good!</div>
        </div>
        <br />
        <button class="btn btn-dark">ADD</button>
      </form>
    </div>
  </div>
  <br />
  <br />
</body>
